* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("pinkwood.jpg");
  margin: 0 auto;
  font-weight: 700;
  background-color: #fff;
}

h1{
  font-family: cursive;
  font-size: 60px;
  text-align: center;
  color: crimson;
  padding: 10px 0px;
}
header{
  background-color: #26a69a;
  width:100%;
  height: 100px;
 	top:0;
}
.game{
  margin-top: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #26a69a;
}
.imgbox {
    float: left;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 4px;
    padding: 6px;
    background-color: silver;
}

.ocultar{
visibility: hidden;
}
img{
  background-size: cover;
}
